<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>
   <main>
<header>
<h1>TODO APP</h1>
</header>
<div id="todo-container">
    <form id="todo-form" action="/tasks/add" method="POST">
        <div id="Enter-description">
            <label for="fill-description">DESCRIPTION</label></br>
            <input type="text" id="fill-description" name="description" placeholder="Enter your todo task" required>
        </div>
        <div id="select-Category" >
            <p>CATEGORY</p>
            <select name="category"required>
                <option selected>Choose a category</option>
                <option value="Personal">Personal</option>
                <option value="home">Home</option>
                <option value="School">School</option>
                <option value="Office">Office</option>
                <option value="Other">Other</option>
            </select>
        </div>
        <div id="fill-date">
            <p>DUE DATE</p></br>
            <input type="date" id="due-date" name="date" required>
        </div>
        <input type="submit" value="Submit">
    </form>
    <!-- buttons -->
    <!-- task list -->
</div>
<div id= "task-list-container">
    <ul id="tasks-list">
        <% for(let task of tasks){%>
        <li id="task-<%=task._id%>">
            <p><%=task.description%></p>
            <p><%=task.category%></p>
            <a href="/tasks/delete/<%=task._id%>"><button>Delete</button></a>
        </li>    
        <%}%>
    </ul>
</div>
   </main>
</body>
</html>